eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8076/eureka
    register-with-eureka: true
    fetch-registry: true
  instance:
    hostname: localhost

server:
  port: 8080

spring:
  application:
    name: gateway
  main:
    web-application-type: reactive
  cloud:
    gateway:
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin
        - AuthenticationFilter
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods: "*"
            allowedHeaders: "*"
      routes:
        - id: job
          uri: http://job:8081
          predicates:
            - Path=/job/**


#  lb://giftcard
jwt:
  secret: Aw3kYKXSjOpt44Gdit3JttQCzQgCfa5R1yzOBrFWsLZkZM-PYDQBHXaFlmcNHiJ129gOi8dftELhI
  validity: 200
  authDisabled: false

