.bodycontainer { 
     display: grid;
     color:#000;
     font-family: 'poppins';
     font-weight: 500;
     font-size: large;

    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    text-align: center;
    grid-template-areas:
      "Job-Title Job-Title-Data"
      "Job-Role Job-Role-Data"
      "Job-Type Job-Type-Data"
      "Experience Exp-data"
      "Expected-Salary sal-data"
      "City city-data"
      "Qulalification- qual-data"
      "Description desc-data";
  }
  
  .Job-Role { grid-area: Job-Role; }
  
  .Job-Type { grid-area: Job-Type; }
  
  .Experience { grid-area: Experience; }
  
  .Expected-Salary { grid-area: Expected-Salary; }
  
  .City { grid-area: City; }
  
  .Qulalification- { grid-area: Qulalification-; }
  
  .Job-Title { grid-area: Job-Title; }
  
  .Description { grid-area: Description; }
  
  .Job-Title-Data { grid-area: Job-Title-Data; }
  
  .Job-Role-Data { grid-area: Job-Role-Data; }
  
  .Job-Type-Data { grid-area: Job-Type-Data; }
  
  .Exp-data { grid-area: Exp-data; }
  
  .sal-data { grid-area: sal-data; }
  
  .city-data { grid-area: city-data; }
  
  .qual-data { grid-area: qual-data; }
  
  .desc-data { grid-area: desc-data; }
  